@import "css/loginRegister.css";

body {
  margin: 0;
  overflow: hidden;
}

canvas {
  position: absolute;
  z-index: 1;
}

ft-transcendence {
  display: block;
  width: 100vw;
  height: 100vh;
}

.css3d-renderer {
  position: absolute;
  z-index: 2;
}

#game {
  width: 100vw;
  height: 100vh;
}

.menu {
  background: rgba(50, 100, 255, 0.2);
  border: 2px solid rgba(0, 150, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
  box-shadow:
    0 0 20px rgba(0, 150, 255, 0.5),
    0 0 40px rgba(0, 150, 255, 0.3),
    0 0 60px rgba(0, 150, 255, 0.1);
  backdrop-filter: blur(10px);
  animation: pulse 2s infinite alternate;
  max-width: 400px;
  width: 100%;
}

@keyframes pulse {
  0% {
    box-shadow:
      0 0 20px rgba(0, 150, 255, 0.5),
      0 0 40px rgba(0, 150, 255, 0.3),
      0 0 60px rgba(0, 150, 255, 0.1);
  }

  100% {
    box-shadow:
      0 0 25px rgba(0, 150, 255, 0.6),
      0 0 50px rgba(0, 150, 255, 0.4),
      0 0 75px rgba(0, 150, 255, 0.2);
  }
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  background: rgba(0, 50, 100, 0.3);
  border: 1px solid #0af;
  border-radius: 5px !important;
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #0ff;
  box-shadow: 0 0 10px #0ff;
}

label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #0af;
  pointer-events: none;
  transition: all 0.3s ease;
}

input:focus+label,
input:not(:placeholder-shown)+label {
  top: -10px;
  font-size: 12px;
  color: #0ff;
}

form {
  transition: opacity 0.5s ease;
}

form.active {
  display: block;
  opacity: 1;
}